.header {
  background-color: #ffffff;
  display: flex;
  justify-content: flex-end;
  height: 50px;
}


.header-like-container {
  display: flex;
  align-items:center;
  margin: 20px;
  position: relative;
}
.header .like-button {
}
